/* Common.css */
:root {
  --text-blue: #2196f3;
  --text-black: #000000;
  --text-graphit: #212121;
  --text-grey: #757575;
  --text-white: #ffffff;
  --text-grey-opacity: rgba(255, 255, 255, 0.6);
  --background-hero: #2f303a;
  --background-team: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
}

.header {
  background-color: var(--text-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-blue);
}

.site-nav .link {
  color: var(--text-graphit);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-blue);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--text-blue);
}

.site-info .link {
  color: var(--text-grey);
}

.site-info .link:hover,
.site-info .link:focus {
  color: var(--text-blue);
  cursor: pointer;
}

button {
  border: none;
}

.footer {
  background-color: var(--background-hero);
  letter-spacing: 0.03em;
}

.address-list .link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-grey-opacity);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--text-blue);
}

.address-list .street {
  color: var(--text-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Index.css */
.logo.black {
  color: var(--text-black);
}

.hero {
  background-color: var(--background-hero);
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--text-white);
}

.btn-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white);
  cursor: pointer;
}

.content {
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.content-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-graphit);
}

.content-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-grey);
}

.promo {
  background-color: var(--text-white);
  letter-spacing: 0.03em;
}

.promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(text-graphit);
}

.team {
  background-color: var(--background-team);
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-graphit);
}

.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-graphit);
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-grey);
}

.logo.white {
  color: var(--text-white);
}

/* Portfolio.css */
.logo.black {
  color: var(--text-black);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--text-graphit);
  cursor: pointer;
}

.btn.secondary {
  background-color: var(--background-team);
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--text-white);
  background-color: var(--text-blue);
}

.project-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-graphit);
}

.project-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.logo.white {
  color: var(--text-white);
}